<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 text-center">
      <h1>Local Storage </h1>
      <p>The localStorage object allows you to save key/value pairs in the browser.</p>
      <table class="table table-bordered">
        <thead class="text-center">
          <tr>
            <th>Description</th>
            <th>Syntax</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr>
            <td>Save Data to Local Storage</td>
            <td>localStorage.setItem ( key, value );</td>
          </tr>
          <tr>
            <td>Read Data from Local Storage</td>
            <td>let lastname = localStorage.getItem( key );</td>
          </tr>
          <tr>
            <td>Remove Data from Local Storage</td>
            <td>localStorage.removeItem( key );</td>
          </tr>
          <tr>
            <td>Remove All (Clear Local Storage)</td>
            <td>localStorage.clear();</td>
          </tr>
        </tbody>
      </table>
    </div>
    <h5>localStorage.setItem( 'array' , JSON.stringify ( this.formArray ) )</h5>
    <h5> this.formArray = JSON.parse ( localStorage.getItem ( 'array' )  ||  '[ ]') </h5>

    <!-- -------Example using local storage ------------- -->
    <hr>


    <div class="col-lg-12">
      <div class="col-lg-12">
        <form [formGroup]="form" (ngSubmit)="save(form.value)">
          <div class="row">
            <div class="mb-3 col-lg-2">
              <label for="date" class="form-label">Date</label>
              <input type="date" class="form-control" id="date" formControlName="date">
            </div>
            <div class="mb-3 col-lg-2">
              <label for="time" class="form-label">Time</label>
              <input type="time" class="form-control" id="time" formControlName="time">
            </div>
            <div class="mb-3 col-lg-8">
              <label for="time" class="form-label">Task</label>
              <input type="text" class="form-control" id="time" formControlName="text">
            </div>
          </div>

          <button type="submit" [disabled]="form.invalid" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <!-- ------------- -->

    <div class="col-lg-12 mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th>Date</th>
            <th>Time</th>
            <th>Task</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tr *ngFor=" let task of formArray, let i = index ">
          <td>{{ i + 1}}</td>
          <td>{{ task.date}}</td>
          <td>{{ task.time}}</td>
          <td>{{ task.text}}</td>
          <td ><button class="btn btn-outline-primary" (click)="edit(i)">Edit</button></td>
          <td ><button class="btn btn-outline-primary" (click)="remove(i)">Delete </button></td>
        
         
        </tr>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>